<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/homepageContact/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/homepageContact/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand pulse animated" href="#">Miracle</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-link"><a class="nav-link active bounce animated" href="#about">Home</a></li>
                <li class="nav-item nav-link"><a class="nav-link bounce animated" href="#download">About</a></li>
                <li class="nav-item nav-link"><a class="nav-link bounce animated" href="#contact">contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image:url('/homepageContact/assets/img/intro-bg.jpg');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="pulse animated brand-heading">Miracle</h1>
                    <p class="bounce animated intro-text">LIVE LIVE TO THE FULLEST</p><a class="btn btn-link tada animated btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="text-center content-section" id="contact" style="height: 879px;">
    <section class="contact-clean" style="background: Transparent;height: 100vh;">
        <form method="post" style="background: transparent;" action="mailto:aryan26september@gmail.com" enctype="text/plain">
            <h2 class="text-center" data-aos="slide-up" data-aos-duration="600" style="color: rgb(255,255,255);">Contact us</h2>
            <div class="mb-3"><input class="form-control" type="text" data-aos="slide-up" data-aos-duration="600" name="name" placeholder="Name" style="border-style: solid;border-color: rgb(255,255,255);background: transparent;border-radius: 6px;"></div>
            <div class="mb-3"><input class="form-control is-invalid" type="email" data-aos="slide-up" data-aos-duration="600" name="email" placeholder="Email" style="border-style: solid;border-color: rgb(255,255,255);background: transparent;border-radius: 6px;"></div>
            <div class="mb-3"><textarea class="form-control" data-aos="slide-up" data-aos-duration="600" name="message" placeholder="Message" rows="14" style="border-style: solid;border-color: rgb(255,255,255);background: transparent;border-radius: 6px;"></textarea></div>
            <div class="mb-3"><button class="btn btn-dark" data-aos="slide-up" data-aos-duration="600" type="submit">send </button></div>
        </form>
    </section>
</section>
<div class="map-clean"></div>
<footer>
    <div class="container text-center">
        <p>Copyright © Miracle 2021</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/homepageContact/assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="/homepageContact/assets/js/grayscale.js"></script>
</body>

</html>