<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Miracle</title>
    <link rel="stylesheet" href="homepage/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand pulse animated" href="#">Miracle</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active bounce animated" href="#intro">Home</a></li>
                    <li class="nav-item nav-link"><a class="nav-link bounce animated" href="#download">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link bounce animated" href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('homepage/assets/img/intro-bg.jpg');">
        <div class="intro-body" id="intro">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="pulse animated brand-heading">Miracle</h1>
                        <p class="bounce animated intro-text">LIVE LIVE TO THE FULLEST</p><a class="btn btn-link tada animated btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center download-section content-section" id="download" style="background-image:url('homepage/assets/img/downloads-bg.jpg');">
        <div class="container" style="margin-top: auto;margin-bottom: auto;">
            <div class="col-lg-8 mx-auto">
                <h1 data-aos="zoom-out" data-aos-duration="250">WHAT do we do</h1>
                <p data-aos="zoom-out" data-aos-duration="250" data-aos-delay="100">Make people live their life to the fullest.</p>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 data-aos="zoom-in" data-aos-duration="700">Contact us</h2>
                    <p data-aos="zoom-in" data-aos-duration="700" data-aos-delay="100">Feel free to leave us a comment.</p>
                    <form method="post" action="/homepage" style="margin-left: 0;margin-bottom: 0;"><input class="form-control" type="password" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="200" style="color: rgb(255,255,255);background: rgb(31,31,31);margin-bottom: 20px;" autocomplete="off" name="homepageInp"><button class="btn btn-primary" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="250" type="submit" style="background: rgb(255,255,255);border-style: none;border-radius: 6px;color: rgb(34,34,34);">GO</button></form>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    <footer>
        <div class="container text-center">
            <p>Copyright © Miracle 2021</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="homepage/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="homepage/assets/js/grayscale.js"></script>
</body>

</html>