<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">The Light System</h1>
    <p class="lead">Modern Secret Society</p>
    <hr>
    <form autocomplete="off" action="/home" method="POST">
      <input autocomplete="off" type="password" name="pageInp" id="pageInp" autocomplete="">
      <a class="btn btn-dark btn-lg" type="submit">Search</a>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
