<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TLS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="hq/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="hq/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="hq/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="hq/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="hq/assets/css/styles.css">
</head>

<body>
    <header class="header-dark" style="background: url(&quot;https://source.unsplash.com/random/2160x1920/?minimal&quot;) no-repeat;height: 100vh;width: 100vw;background-size: cover;">
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container"><a class="navbar-brand pulse animated" style="font-size: 25px;text-align: center;font-weight: light;font-family: 'Encode Sans SC', sans-serif;" href="#">THE LIGHT SYSTEM</a>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav"></ul>
                </div>
            </div>
        </nav>
        <div class="container hero" style="margin-top: 102px;margin-left: 30px;"><img class="rubberBand animated logo" src="hq/assets/img/Logo.png" style="margin-top: 0px;">
            <h1 class="pulse animated" style="font-family: 'Encode Sans SC', sans-serif;">The Modern Secret Society</h1>
        </div>
    </header>
    <header class="header-dark" style="background: url(&quot;https://source.unsplash.com/random/2160x1920/?nature&quot;) no-repeat;height: 100vh;width: 100vw;background-size: cover;">
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container">
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav"></ul>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row" style="margin-top: 20%;margin-bottom: 40%;">
                <div class="col-md-8 offset-md-2">
                    <h1 class="text-center" data-aos="zoom-in-up" data-aos-duration="600" style="font-weight: bold;font-size: 62px;">The Revolution is Here.</h1>
                </div>
            </div>
        </div>
    </header>
    <section class="map-clean" style="background: rgb(133,133,133);border-style: solid;border-color: var(--bs-indigo);border-top-style: none;border-top-color: rgb(255,255,255);border-right-style: none;border-bottom-style: none;border-left-style: none;border-left-color: rgb(255,255,255);">
        <section class="features-boxed" style="background: rgb(72,83,89);padding-bottom: 45px;">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center" data-aos="zoom-in-up" data-aos-duration="600" style="font-family: 'Alegreya Sans SC', sans-serif;font-size: 35.128px;margin-bottom: 8px;color: rgb(49, 52, 55);">HEADQUATERS</h2>
                    <p class="text-center" data-aos="zoom-in-up" data-aos-duration="600" data-aos-delay="250" style="font-family: 'Alegreya Sans SC', sans-serif;color: var(--bs-gray);">THE LIGHT SYSTEM</p>
                </div>
                <div class="row justify-content-center features">
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div data-aos="zoom-in-up" data-aos-duration="600" class="box" style="border-radius: 43px;background: rgb(49,52,55);"><i class="fa fa-leaf icon" data-aos="zoom-in-up" data-aos-duration="600" style="color: var(--bs-gray);"></i>
                            <h3 data-aos="zoom-in-up" data-aos-duration="600" class="name" style="font-family: 'Alegreya Sans SC', sans-serif;color: rgb(147,148,149);">TLS</h3>
                            <p data-aos="zoom-in-up" data-aos-duration="600" class="description" style="font-family: 'Alegreya Sans SC', sans-serif;">CODENAME: <%= _codename %></p>
                            <p data-aos="zoom-in-up" data-aos-duration="600" class="description" style="font-family: 'Alegreya Sans SC', sans-serif;">RANK: <%= _rank %></p>
                            <p data-aos="zoom-in-up" data-aos-duration="600" class="description" style="font-family: 'Alegreya Sans SC', sans-serif;">TLS: <%= _TLS_ID %></p><a data-aos="zoom-in-up" data-aos-duration="600" class="learn-more" href="#" style="font-family: 'Alegreya Sans SC', sans-serif;color: var(--bs-gray);">Room »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item" data-aos="zoom-in-up" data-aos-duration="600">
                        <div data-aos="zoom-in-up" data-aos-duration="600" class="box" style="border-radius: 43px;height: 363px;background: rgb(49,52,55);"><i class="fa fa-map-marker icon" data-aos="zoom-in-up" data-aos-duration="600" style="color: var(--bs-gray);"></i>
                            <h3 data-aos="zoom-in-up" data-aos-duration="600" class="name" style="font-family: 'Alegreya Sans SC', sans-serif;color: rgb(147,148,149);">GPS</h3><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" data-aos="zoom-in-up" data-aos-duration="600" width="100%" height="400" style="height: 160px;font-family: 'Alegreya Sans SC', sans-serif;"></iframe>
                        </div>
                        <div data-aos="zoom-in-up" data-aos-duration="600" class="box" style="height: 363px;border-radius: 43px;background: rgb(49,52,55);"><i class="fa fa-bitcoin icon" style="color: var(--bs-gray);"></i>
                            <h3 class="name" style="font-family: 'Alegreya Sans SC', sans-serif;color: rgb(147,148,149);">CRYPTO</h3>
                            <p class="description" style="font-family: 'Alegreya Sans SC', sans-serif;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box" style="height: 363px;border-radius: 43px;font-family: 'Alegreya Sans SC', sans-serif;background: rgb(49,52,55);"><i class="fa fa-plane icon" style="font-family: 'Alegreya Sans SC', sans-serif;color: var(--bs-gray);"></i>
                            <h3 class="name" style="font-family: 'Alegreya Sans SC', sans-serif;color: rgb(147,148,149);">INTEL</h3>
                            <p class="description" style="font-family: 'Alegreya Sans SC', sans-serif;">NEWS</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-dark">
            <div class="container"><img src="hq/assets/img/©%20Copyright%20by%20TLS%202021..png" style="color: var(--bs-gray);"></div>
        </footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="hq/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>