.intro {
}

.map-clean {
  text-align: center;
}

body {
  background-color: rgb(37,37,37);
}

.hero {
  text-align: center;
}

.logo {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.msg_area {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.msg {
  max-width: 300px;
}

.incoming {
  float: left;
  clear: both;
}

.outgoing {
  float: right;
  clear: both;
}

