.map-clean {
  text-align: center;
}

body {
  background-color: rgb(37,37,37);
}

.hero {
  text-align: center;
}

.logo {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.msg_area {
  padding: 16px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.msg {
  max-width: 300px;
  border-radius: 6px;
}

.incoming {
  float: left;
  clear: both;
  margin-right: auto;
}

.outgoing {
  float: right;
  clear: both;
  margin-left: auto;
}

.msg h4 {
  color: whitesmoke;
  padding-left: 3px;
  font-size: 14px;
  font-family: 'Encode Sans SC', sans-serif;
}

.in {
  /*background-color: #e2eaeb;*/
  color: #e2eaeb;
  border: 1px solid #e2eaeb;
  border-radius: 9px;
  padding: 3px 8px;
  font-size: 13px;
  font-family: 'Julius Sans One', sans-serif;
  display: inline;
  float: left;
}

.out {
  /*background-color: #ebeff0;*/
  color: #ebeff0;
  border: 1px solid #ebeff0;
  border-radius: 9px;
  padding: 3px 8px;
  font-size: 13px;
  font-family: 'Julius Sans One', sans-serif;
  display: inline;
  float: right;

}

.joined {
  border-radius: 6px;
  padding: 16px;
  margin: auto;
}

.joined h4{
  color: #a6eb4d;
  font-size: 12px;
  font-family: 'Julius Sans One', sans-serif;
}
